/* Reset default margin, padding, and font-family for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", "Montserrat", "Lato", sans-serif;
}

/* Define color variables */
:root {
  --dark-blue: #27374d;
  --medium-blue: #526d82;
  --light-blue: #9db2bf;
  --background: #dde6ed;
}

/* Style the navigation */
nav {
  background-color: var(
    --dark-blue
  ); /* Set the background color of the navigation bar using the defined dark blue variable */
  display: flex; /* Use flexbox to arrange navigation items */
  justify-content: space-between; /* Distribute space evenly between navigation items */
}

/* Style the navigation title */
nav h1 {
  margin: 0 15px;
  padding: 10px 0;
  color: white;
  font-size: 18px;
}

/* Style the navigation links */
nav ul {
  list-style: none; /* Remove default list styles for the navigation links */
  display: flex; /* Use flexbox to arrange navigation links */
  justify-content: center; /* Center align the navigation links horizontally */
  padding: 10px 0; /* Add padding above and below the navigation links */
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Style sections */
section {
  padding: 50px;
  text-align: center;
}

/* Style the header */
header {
  background-color: var(--medium-blue);
  padding: 10px 0;
}

/* Style the footer */
footer {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Style the projects */
.project {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
}

/* Style the buttons within projects */
.project button {
  background-color: var(
    --dark-blue
  ); /* Set the background color of the button */
  color: white; /* Set the font color of the button text */
  padding: 10px 20px; /* Add padding inside the button */
  border: none; /* Remove border around the button */
  border-radius: 5px; /* Apply rounded corners to the button */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  font-size: 16px; /* Set the font size of the button text */
  transition: background-color 0.3s, transform 0.2s; /* Add smooth transitions for background color and transform properties */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Display the button as an inline-block element */
  margin-top: 10px; /* Add spacing above the button */
}

/* Style the link within buttons */
.project button a {
  color: white; /* Set font color for the link within the button */
  text-decoration: none;
}

/* Add hover effect for buttons */
.project button:hover {
  background-color: var(
    --medium-blue
  ); /* Change the background color on hover */
  transform: scale(1.05); /* Slightly scale up the button on hover */
}
